.App {

}

.introduction {
  font-size: 50px;
  text-align: left;
  padding-left: 20%;
  height: 100vh;

}

.letterContainerOne {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 200px;
}

.letterContainerTwo, .letterContainerThree {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.letterContainerThree {
  padding-left: 100px;
}

.letters {
  box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.6);
  margin: 10px;
  width: 80px;
  text-align: center;
}

.sectionTwo {
  display: flex;
  align-content: center;
  height: 100vh;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  border-style: solid;
  border-width: 10px;
  border-color: black;
}

.aboutMe_content {
  width: 90%;
  line-height: 25px;
  margin: auto;
  padding-bottom: 20px;
}

.aboutMe_header {
  width: 90%;
  height: 70px;
  font-size: 50px;
  margin: auto;
  padding-top: 10px;
}


.portfolio {
  height: 100vh;

}

.portfolio_header {
  font-size: 50px;
  width: 100%;
  text-align: center;
}


.portfolio_list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  height: 90%;
  padding: 0;
}

.portfolio_items {
  margin: auto;
  min-width: 300px;
  min-height: 150px;
  height: 40%;
  width: 27%;
  margin-top: 10px;
  box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.6);
}

#one {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-left: 20px;
  animation-name: sparkle;
  animation-duration: 3s;

}

#two {
  height: 80px;
  width: 80px;
  background-color: white;
  border-radius: 50%;
  margin-top: 40px;
  margin-left: 70px;
  animation-name: sparkle;
  animation-duration: 2s;

}


#three {
  height: 70px;
  width: 70px;
  background-color: white;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 0px;
  animation-name: sparkle;
  animation-duration: 5s;

}


@keyframes sparkle {
   from {transform: scale(0); opacity: 0.4}
   to {transform: scale(1.1); opacity: 1}
}

@media (max-width: 500px) {

.introduction {
  height: 60vh;
  font-size: 30px;
  padding: 0;

}

.letters {
  max-width: 40px;
}

.letterContainerOne {
  padding-left: 140px;
}

.letterContainerTwo {
  padding-left: 20px;
}

.letterContainerThree {
  flex-wrap: nowrap;
  padding-left: 85px;
}

.portfolio_header, .aboutMe_header {
  font-size: 40px;
}

.sectionTwo, .aboutMe {
  width: 90%;
  margin: auto;
}

}
