
.introduction {
  font-size: 50px;
  text-align: left;
  padding-left: 20%;
  height: 100%;
  min-height: 550px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.letterContainerOne {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 200px;
}

.letterContainerTwo, .letterContainerThree {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.letterContainerThree {
  padding-left: 100px;
}

.letters {
  box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.6);
  margin: 10px;
  width: 80px;
  text-align: center;
  animation-name: flip;
  animation-duration: 3s;
  transform-style: preserve-3d;
  perspective: 1000px;

}



#E {
  animation-delay: 1s;
}

#L{
  animation-delay: 2s;
}

#C {
  animation-delay: 3s;
}

#O {
  animation-delay: 4s;
}

#I, #M {
  animation-delay: 5s;
}



.sectionTwo {
  display: flex;
  align-content: center;
  height: 100vh;
  background: rgb(83,96,97);
  background: linear-gradient(90deg, rgba(83,96,97,1) 4%, rgba(216,233,238,1) 100%);
  color: white;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  border-style: solid;
  border-width: 10px;
  border-color: #f26258;
}

.aboutMe_content {
  width: 90%;
  line-height: 25px;
  margin: auto;
  padding-bottom: 20px;
}

.aboutMe_header {
  width: 90%;
  height: 70px;
  font-size: 50px;
  margin: auto;
  padding-top: 10px;
}


.portfolio {
  height: 100vh;

}

.portfolio_header {
  font-size: 50px;
  width: 100%;
  text-align: center;
  color: #f26258;
}


.portfolio_list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  height: 90%;
  padding: 0;
}

.portfolio_items {
  margin: auto;
  min-width: 300px;
  min-height: 150px;
  max-height: 250px;
  height: 40%;
  width: 27%;
  margin-top: 10px;
  box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.6);
}

@keyframes flip {
  from {transform: rotateY(0deg);}
  to  {transform: rotateY(360deg);}
}



@media (max-width: 767px) {

.introduction {
  font-size: 30px;
  padding: 0;
  margin: auto;
  width: 80%;
}

.sectionTwo {
  height: 100vh;
}

.letters {
  max-width: 40px;
}

.letterContainerOne {
  padding-left: 140px;
}

.letterContainerTwo {
  padding-left: 20px;
}

.letterContainerThree {
  flex-wrap: nowrap;
  padding-left: 85px;
}

.portfolio_header, .aboutMe_header {
  font-size: 40px;
}

.sectionTwo, .aboutMe {
  width: 90%;
  margin: auto;
}

}


@media (max-width: 450px) {

.introduction {
  width: 100%;
}

}
