.App {
  width: 100%;
  margin: auto;
  font-family: 'Noto Serif TC', serif;
}
.introduction {
  font-size: 40px;
  text-align: left;
  height: 70%;
  min-height: 550px;
  background-color: #f2f5f6;
  margin: auto;
  background-image: url("./notebook.jpg");
  width: 90%;
}

.lettersContainer {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 980px;
  height: 80%;
}

.lettersContainer_inner {
  display: inline-flex;
  flex-direction: row;
}

.lettersContainer_innersmall {
  display: none;
}

.letters-empty {
  box-shadow: none;
  margin: 10px;
  width: 70px;
}


.letters {
  box-shadow: .2rem .2rem .5rem rgba(0, 0, 0, 0.3);
  margin: 10px;
  width: 70px;
  text-align: center;
  animation-name: flip;
  animation-duration: 3s;
  transform-style: preserve-3d;
  perspective: 1000px;

}


.sectionTwo {
  display: flex;
  align-content: center;
  height: 100vh;
  background-image: url("./aboutme.jpg");
  color: black;
  margin: auto;
  width: 90%;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  border-style: solid;
  border-width: 10px;
  border-color: #709d55;
  background-color: white;

}

.aboutMe_content {
  width: 90%;
  line-height: 25px;
  margin: auto;
  padding-bottom: 20px;
}

.aboutMe_header {
  width: 90%;
  height: 70px;
  font-size: 50px;
  margin: auto;
  padding-top: 10px;
}


.portfolio {
   height: 100vh;
   width: 90%;
   margin: auto;
   background-size: cover;
   background-image: url("./desk.jpg");
}

.portfolio_header {
  font-size: 50px;
  width: 100%;
  text-align: center;
  color: #f26258;
}


.portfolio_list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  height: 90%;
  padding: 0;
}

.portfolio_items {
  margin: auto;
  background-color: white;
  min-width: 300px;
  min-height: 150px;
  max-height: 250px;
  height: 40%;
  width: 27%;
  margin-top: 10px;
  box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.6);
}

.portfolio_list_images {
  width: 100%;
}

@keyframes flip {
  from {transform: rotateY(180deg); opacity: .001;}
  to  {transform: rotateY(0deg); opacity: 1;}
}



@media (max-width: 850px) {



.introduction {
  font-size: 30px;
  padding: 0;
  margin: auto;
  width: 90%;
}

.sectionTwo {
  height: 100vh;
}

.letters, .letters-empty {
  max-width: 40px;
}

.portfolio_header, .aboutMe_header {
  font-size: 40px;
}

.sectionTwo, .aboutMe {
  width: 90%;
  margin: auto;
}

.lettersContainer_innersmall {
  display: none;
}

}


@media (max-width: 700px) {


.introduction {
  width: 100%;
}

.lettersContainer {
  bottom: 10%;
  height: 50%;
  position: absolute;
}

.lettersContainer_inner {
  display: none;
}

.lettersContainer_innersmall {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

}
